.button {
  // margin: 0 auto;
  display: block;
  width: 160px;
  height: 40px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $title-color;

  &__appointment {
    margin-top: 50px;
    color: #ffffff;
  }
  // &__content {
  //   margin-left: 0;
  //   margin-top: 40px;
  // }
}

.button:hover,
.button:focus {
  background: #ff6c00;
  color: #ffffff;
}

.contacts .button {
  margin-top: 24px;
}
