.features {
  font-size: 11px;
  line-height: 1.36;

  &__subTitle {
    color: #303030;
    &::before {
      background-color: #303030;
    }
  }

  &__text {
    margin: 20px 0 44px 0;
    font-size: 18px;
    line-height: 1.67;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    color: #303030;
  }

  &__item {
    text-align: center;
    flex-basis: calc(100% / 2 - 30px);
    margin: 0 30px 30px 0;
    padding: 20px 0 20px 0;
    min-width: 193px;
    height: 133px;
    background: #f7f7f7;

    &:nth-child(2n) {
      margin: 30px 0 0 0;
    }

    &-count {
      font-weight: 700;
      font-size: 42px;
      letter-spacing: 0.05em;
      &::after {
        content: "+";
        font-size: 16px;
        line-height: 1.38;
        color: #ff6c00;
      }
    }
  }
}
