// Hero section
.hero-section {
  margin-top: -98px;
  min-height: 80vh;
  background: linear-gradient(to right, rgba(25, 28, 38, 0.2)),
    url("../../images/mobile/slider_3.jpg") center/cover no-repeat;
  // background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2)),
  //   url("../../images/mobile/slider_3.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;

  &__content {
    margin-top: 208px;
    max-width: 73%;
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.62;
    color: #9da4bd;
  }
}

// @media screen and (min-device-pixel-ratio: 2),
//   screen and (min-resolution: 192dpi),
//   screen and (min-resolution: 2dppx) {
//   .hero-section {
//     background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2)),
//       url("../../images/mobile/slider_3@2x.jpg");
//   }
// }

// @media screen and (min-width: $tablet) {
//   max-width: 60%;
// }
