// Logo

.logo {
  z-index: 1;
}

.site-nav {
  padding-top: 40px;
  // margin-top: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: $secondary-font_weight;
  font-size: $secondary-text_size;
  line-height: 1.33;
  letter-spacing: 0.1em;

  //   color: #ffffff;
}

.menu-container {
  // position: absolute;
  // top: 0;
  // right: 0;

  width: 70%;
  min-height: 100vh;
  height: 100%;

  padding-top: 118px;
  padding-left: 40px;
  padding-right: 31px;

  background-color: $primary-color;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08),
    -1px 0px 3px rgba(0, 0, 0, 0.16);
  display: none;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &.is-open {
    display: block;
    z-index: 1;
  }
}

.menu-list {
  margin-bottom: 64px;
}

.menu-item {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.39;

  color: $title-color;

  @media screen and (min-width: $tablet) {
    margin-right: 40px;

    :last-child {
      margin-right: 0;
    }
  }
}

.menu-link:hover,
.menu-link:focus {
  color: $accent-color;
}

.contacts {
  margin-bottom: 64px;
}

.contact-link {
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;

  color: $title-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
