.social__links {
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
  &-link:hover,
  &-link:focus {
    color: #ff6c00;
  }
}
