// Titles of sections

.title {
  margin-top: 20px;
  font-family: $title-font-stack;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 48px;
  line-height: 1.17;
}

.title,
.price__title,
.footer__title,
.contacts__title {
  color: #ffffff;
}

.price__title,
.features__title,
.team__title,
.footer__title,
.contacts__title {
  font-size: 42px;
}

.about__title,
.features__title,
.team__title {
  color: #303030;
}

.subTitle {
  position: relative;
  margin-left: 80px;
  font-weight: $secondary-font_weight;
  font-size: $label-text_size;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $label-color;
  &:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    right: 100%;
    top: 50%;
    background-color: rgba(157, 164, 189, 0.6);
    margin: 0 20px 0 0;
  }
}
