// Titles of sections

.title {
  margin-top: 20px;
  font-family: $title-font-stack;
  letter-spacing: 0.05em;

  &__section {
    font-size: 28px;
    line-height: 1.18;
    color: #303030;
  }
  &__hero-section {
    font-size: 48px;
    line-height: 1.33;
    color: #ffffff;
  }
  &__price-section {
    font-size: 42px;
    line-height: 1.17;
    color: #ffffff;
  }
  &__features-section {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.17;
    color: #303030;
  }
}

.subTitle {
  margin-left: 20px;
  font-weight: $secondary-font_weight;
  font-size: $label-text_size;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $label-color;

  &:nth-child(odd) {
    color: #303030;
  }
}

// .section-label {
//   color: $title-color;
// }

.content-text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.62;
  color: #9da4bd;
  &__about {
    color: #555555;
  }
}
