// Font-family

$font-stack: "Open Sans", sans-serif;
$title-font-stack: "Raleway", sans-serif;

// Color-list

$primary-color: #ffffff;
$secondary-color: #9da4bd;
$accent-color: #ff6c00;
$label-color: rgba(157, 164, 189, 0.6);
$title-color: #303030;
$text-color: #555555;

$secondary-bg_color: #111319;
$accent-bg_color: #191c26;
$tablet-bg: #f7f7f7;

// Font-size

$primary-text_size: 14px;
$secondary-text_size: 12px;
$title-text_size: 42px;
$label-text_size: 11px;

// Font-weight

$secondary-font_weight: 600;
$title-font_weight: 700;
